body {
    -webkit-font-smoothing: antialiased;
    background-color: white !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

blockquote.warning {
    background-color: #FFF9C4;
    border-left-color: #FFF59D;
}

@media (min-width: 768px) {
    .container { width: 750px; }

    .dl-horizontal dt { width: 90px; }
}

@media (min-width: 992px) {
    .container { width: 970px; }
}

@media (min-width: 1200px) {
    .container { width: 1170px; }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.class-list {
    background-color: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    padding-bottom: 40px;
}

.class-list::after {
    background-color: #ddd;
    content: '';
    display: inline-block;
    height: 1px;
    margin-top: 4px;
    width: 100%;
}

#box-container.row { margin: 0; }

#box-container section { margin: 0; }

section.boxes div {
    border: black solid 1px;
    margin-bottom: 6px;
    padding: 4px 7px;
    text-align: center;
}

.box.uncreatable {
    background-color: #F0F4C3;
    border: #E6EE9C solid 1px;
}

.box.deprecated {
    background-color: #FFCDD2;
    border-color: #E57373;
}

.box .name {
    float: left;
    font-weight: 500;
}

.comment table {
    border-collapse: separate;
    margin-bottom: 1em !important;
}

/*
section p {
    margin: 0;
}
*/

#datatype-list li { padding-left: 8px; }

.gb_re::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}

.gb_re::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

.gb_re::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .3);
    border: 5px solid transparent;
    border-radius: 10px;
    height: 5px;
    min-height: 20px;
    min-width: 20px;
    width: 5px;
}

.gb_re::-webkit-scrollbar-thumb:hover,
.gb_re::-webkit-scrollbar-thumb:active { background-color: rgba(0, 0, 0, .4); }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

#header a, header a:hover, header p, header li { color: white; }

#header { background-color: #2399FB; }

#nav { display: inline-block; }

#nav .breadcrumbs {
    margin-bottom: 8px;
    margin-top: 12px;
}

.body { margin-top: 12px; }

#masthead { height: 120px; }

#header { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#nav .breadcrumbs {
    font-size: 17px;
    line-height: 1;
}

.breadcrumbs {
    list-style: none;
    margin: 8px 0 8px 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.breadcrumbs li { display: inline-block; }

.self-crumb { color: #ddd; }

.breadcrumbs li:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#DDDDDD' d='M6.7,4L5.7,4.9L8.8,8l-3.1,3.1L6.7,12l4-4L6.7,4z'/></svg>");
    background-position: center;
    content: "\00a0";
    margin: 0 6px 0 4px;
}

.breadcrumbs.dark li:before { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#727272' d='M6.7,4L5.7,4.9L8.8,8l-3.1,3.1L6.7,12l4-4L6.7,4z'/></svg>"); }

.breadcrumbs li:first-child:before {
    background-image: none;
    content: "";
    margin: 0;
}

.relationships .breadcrumbs {
    font-size: 15px;
    line-height: 1.42857143;
}

.search input {
    background-color: transparent;
    background-color: white;
    border-style: none;
    float: right;
    font-size: 11pt;
    line-height: 30px;
    margin-top: 5px;
    padding: 4px 10px;
}

.navbar-right { margin-right: 0; }

.search-dropdown {
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 14px;
    left: inherit !important;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
    right: 0;
    visibility: hidden;
    width: 422px;
}

.search-dropdown ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-dropdown li span, .search-dropdown li a {
    color: black;
    display: block;
    text-decoration: none !important;
}

.search-dropdown li { padding: 10px; }

.search-dropdown li:hover { background-color: #4281F4; }

.search-dropdown li:hover span, .search-dropdown li:hover a { color: white; }

.search-dropdown span:last-child { font-style: italic; }

h1.title {
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
.title > .namespace:before {
    background-image: url('http://wiki.roblox.com/images/b/bc/Part_icon.png');
    background-position: center;
    content: "";
    width: 16px;
    height: 16px;
    margin: 0 4px -4px 0;
    display: inline-block;
}
*/

#header h1 {
    color: white;
    font-weight: 400;
    margin-bottom: 12px;
}

#header h1 .kind {
    color: #ddd;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}

#header h1 .namespace {
    color: #ddd;
    display: block;
    font-family: 'Roboto Mono';
    font-size: 12px;
    margin-top: 4px;
}

ol, ul {
    margin-bottom: 10px;
    margin-top: 0;
}

ul.subnav {
    min-height: 24px;
    overflow: hidden;
    padding-left: 0;
    white-space: nowrap;
}

ul.subnav li { margin-right: 24px; }

ul.subnav li {
    display: inline-block;
    text-transform: uppercase;
}

.sidebar-offcanvas-left ol { padding: 16px; }

.breadcrumbs li:nth-child(2) {
    /
    /
    text-transform: capitalize;
}

dd {
    color: #212121;
    margin-bottom: 1em;
}

.class-list img { margin-bottom: 2px; }

#javascript-warning-box {
    background-color: orange;
    display: block;
    padding: 8px;
    text-align: center;
}

.sidebar ol {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.sidebar ol li:first-child {
    margin-top: 0;
    padding-top: 0;
}

.sidebar .section-title {
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 12px 0 4px 0;
    padding: 0 10px;
    text-transform: uppercase;
}

.sidebar ol {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

section { margin-bottom: 36px; }

dl { margin: 0; }

dd {
    color: #212121;
    margin-bottom: 1em;
}

dl.dl-horizontal dt {
    color: #727272;
    font-style: normal;
    text-align: left;
}

p { margin-bottom: 1em; }

dt { font-weight: normal; }

section.summary h2, .markdown h1 {
    border-bottom: 1px solid #ddd;
    color: #727272;
    margin-bottom: 16px;
    padding-bottom: 4px;
}

h2 { font-size: 24px; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

.features {
    color: #727272;
    font-style: italic;
}

dt .name {
    font-weight: 500;
    margin-left: 4px;
}

#instance-events dt .name { margin-left: 0; }

dd {
    color: #212121;
    margin-bottom: 1em;
}

dd p {
    margin-bottom: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

a, a:hover { color: rgb(0, 102, 152); }

#class-content { margin-bottom: 0; }

#class-content .breadcrumbs li { margin-top: 4px; }

#class-content li { font-size: 14px; }

.markdown h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.markdown h2 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.markdown h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.markdown h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.markdown li p { margin: 0; }

code, pre {
    background-color: #f7f7f7 !important;
    border-style: none;
    font-family: 'Roboto Mono', 'Menlo', 'Open Sans', monospace !important;
    font-size: 13px !important;
}

h4 code {
    display: inline-block;
    margin-bottom: 8px;
}

.lang-plaintext * {
    color: black !important;
    font-weight: normal !important;
}

.lang-warning * {
    color: #FF8F00 !important;
    font-weight: normal !important;
}

#topbar {
    font-size: 17px;
    height: 48px;
    position: absolute;
    right: 0;
}

#sidenav-left-toggle {
    display: none;
    padding: 0;
    vertical-align: text-bottom;
}

@media (min-width: 768px) {
    .class-list { height: 412px !important; }
}

.sidebar-offcanvas-left .class-list { height: auto; }

#object-list { padding: 0 8px; }

.sidebar-offcanvas-left h4 {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 16px;
}

.params > * { display: inline-block; }

.params p { margin-bottom: 0; }

.params {
    color: grey;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    #overlay-under-drawer.active {
        background-color: black;
        bottom: 0px;
        display: block;
        height: 100%;
        left: 0px;
        opacity: 0.4;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 1999;
    }
}

#overlay-under-drawer { display: none; }

@media screen and (max-width: 768px) {
    .sidebar-offcanvas-left h5 {
        border-bottom: 1px solid #ddd;
        padding: 16px;
    }

    .sidebar-offcanvas-left {
        -o-transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
        background-color: white;
        height: 100%;
        left: -100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        transition: all .25s ease-out;
        width: 280px;
        z-index: 2000;
    }
}

.sidebar-offcanvas-left {
    background-color: #f7f7f7;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .sidebar-offcanvas-left.active { left: 0; }
}

@media screen and (max-width: 500px) {
    form.search { display: none; }
}

@media screen and (max-width: 768px) {
    #sidenav-left-toggle {
        background: no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#FFFFFF' d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/></svg>");
        background-position: center;
        border: none;
        display: inline;
        float: left;
        height: 24px;
        margin-right: 24px;
        margin-top: 10px;
        width: 24px;
    }
}

.markdown blockquote { font-size: 17px; }

@media (max-width: 768px) {
    #topbar { position: relative; }
}

@media (min-width: 768px) {
    ul.subnav li { font-size: 17px; }

    .dl-horizontal dd { margin-left: 0; }
}

@media screen and (min-width: 768px) {
    ol.breadcrumbs { float: left; }
}

.table-wrapper {
    margin: 0;
    overflow: initial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, th code { color: #fff; }

.markdown table {
    border: 1px solid #4285f4;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);*/
    margin: 0 0 3px 0;
}

.markdown table th {
    background: #4285f4;
    border: none;
    font-weight: 500;
    padding: 6px 12px;
    text-transform: none !important;
}

.markdown table td { padding: 6px 12px; }

.markdown table td p { margin: 0px; }

.markdown table ol,
.markdown table ul { margin: 0; }

.box p { margin-bottom: 0 !important; }

.btn span img {
    margin-left: 4px;
    transform: translateY(-2px);
}

.btn {
    align-items: flex-start;
    background-color: transparent;
    border-radius: 4px;
    border-radius: 2px;
    border-width: 0;
    box-shadow: none !important;
    color: rgba(33, 150, 243, 0.9);
    color: black;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    letter-spacing: normal;
    margin: 0;
    outline: none !important;
    overflow: hidden;

    padding: 0;
    position: relative;
    text-indent: 0;
    text-shadow: none;
    text-transform: uppercase;
    transition: background-color .3s;
    word-spacing: normal;
}

.btn.primary { color: rgb(0, 102, 152); }

.btn:hover, .btn:focus { background-color: transparent; }

.btn > * { position: relative; }

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .15);
    border-radius: 100%;
    content: "";
    display: block;
    left: 50%;
    padding-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
}

.btn:active:before {
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
    width: 120%;
}